
<noscript>
Use apireference if u not want use scripts.
for now.
</noscript>
<div id="UserInfoBox">
<p class="Login">Name</p>
<p class="IsBlockedStatus"></p>
<ul class="Balances">
</ul>
Coins that allowed:
<ul class=coins>
</ul>
</div>
<div id="changePassBox">
<p> change password box </p>
last_password: <input type=textarea id="last_pass"/></br>
new_password: <input type=textarea id="new_pass"/></br>
<button onclick=changePass()>Change password</button>
</div>

<div id="OutputMoneyBox">
<p> OutputMoneyBox </p>
login: <input type=textarea id="outputLogin"/></br>
pass: <input type=textarea id="outputPassword"/></br>
addr: <input type=textarea id="outputAddr"/></br>
count of money: <input type=textarea id="outputCMoney"/></br>
coin name: <select id="coins_for_output"></select></br>
captchaText: <input type=textarea id="captchaText"/></br>
<img src="/captcha?w=get" id="catpcha"/></br>
<button onclick=outputMoney_()>send money</button>
</div>
<!-- scripts -->
<script type="text/javascript">
function changeInputAddr(coin_name) 
{
	genNewAddress (coin_name)
	location.reload()
}
function session_refresh()
{
	var res = updateSession()
	showAlertBox(res.reason, "Info")
}
function changePass()
{
	var lpass = $("#last_pass").val() 
	var npass = $("#new_pass").val() 
	var res = changePassword(lpass, npass)
	showAlertBox(res.reason, "Info")
}
function outputMoney_()
{
var login = $("#outputLogin").val()
var pass =  $("#outputPassword").val()
var addr = $("#outputAddr").val()
var count_of_money = $("#outputCMoney").val()
var coin_name = $("#coins_for_output").val()
var captchaText = $("#captchaText").val()
var res = outputMoney(login, pass, addr, count_of_money, coin_name, captchaText)
showAlertBox(res.reason, "Info")
reloadCaptcha()
$("#captchaText").val("")
}
if (!userIsSigned())
{
	// window.location.href = "/"
	loadTemplate("auth", "Sign In")
}
var userInfo = GetUserInfo()
$("p.Login").text("Login: "+userInfo.Login)
document.title = "Dashboard of " + userInfo.Login
for(name in userInfo.Balances) {
 var balance = userInfo.Balances[name]
 console.log(balance)
 var owner = balance["owner"] // self name
 var CoinName = balance["CoinName"]
 var inputAddress = balance["inputAddress"]
 var _balance = balance["balance"]
 //var isBlocked = balance["isBlocked"]
 $(".Balances").append("<li><p>" + CoinName + ": " + _balance + "<p>Input address: " + inputAddress + "</p>") 
}
var coins = getAllowCoins()
for (idx in coins) // forEach?
{
	var coin_name = coins[idx]
	var own_input_addr = getowninput(coin_name)
	$("#coins_for_output").append($('<option>', {
    		value: coin_name,
    		text: coin_name
	}));
	$(".coins").append("<li>" + coin_name +" </br><button onclick=\"changeInputAddr('"+coin_name+"')\">Change input. for now is " + own_input_addr + "</li>")
}
</script>
<p><button onclick="session_refresh()">updateSession</button></p>
