
<noscript>
Use apireference if u not want use scripts.
for now.
</noscript>

<div id="pricespair">
	<p>Пара: <select id="coinpairs" onchange="showOrderByPair()"></select></p>
</div>
<div id="calcuvator">
<p>Calculator of prices:</p>
Price: <input type=textarea id="price_calc" value="60000" onchange="calcuvatorcalc()"/>
Count: <input type=textarea id="count_calc" value="1" onchange="calcuvatorcalc()"/>
<p id="calcuvator_answer">60000</p>
</div>
	<p>
		<pre>
Instruction. 
Example, 1 monero costs 96 dogecoin. 
In price set 96. In count value that you want use for buy/sell. 
You should calculate how much you will give Dogecoin for such a number of Monero.
		</pre>
	</p>
<div>
<p>Active orders:</p>
<ol id="active_orders"></ol>
</div>
How much do you take at this price: <input type=textarea" value="1" id="count" placeholder="сколько купить">
<br/>
<p><button onclick="getBackOrders()">Back</button><button onclick="getNextOrders()">Next</button></p>
<hr/>
<p>My orders</p>
<ol id="my_orders"></ol>
</div>

<p>Add order</p>
<div id="addOrderBox">
	<p>How much are ready to give for this: <input type=textarea id="VolumeMax" placeholder="1"/></p>
	<p>How much are minimized to sell: <input type=textarea id="VolumeStart" value="0"/></p>
	<p>Price: <input type=textarea id="Price" value="0.0000068"/></p>

	<p>Coin that you sell: <select type=textarea id="SellNamecoin"></select></p>
	<p>Coin that you buy by coin that you sell: <select type=textarea id="BuyNamecoin"></select></p>
	<p><button onclick=addOrder_()>Add order</button></p>
</div>
<p><button onclick="session_refresh()">updateSession</button></p>
<div id='alertBox' style="display:none">
	<p id="alertTitle"></p>
	<b id="alertMsg"></b>
	<p><button onclick="hideAlertBox()" id="alertButton">OK</button></p>
</div>
<script type="application/javascript">
	var coins = getAllowCoins()
	var curOffset = 0
	
	function getOrderByPair(coin1, coin2 ,offset=-1, lim=25)
	{
		if (offset == -1) offset = curOffset
		// console.log(offset)
		return exchangeData( {'w':"getOrdersByCoinPair", "a": true, "coin1": coin1, "coin2": coin2, "lim": lim, "offset": offset} )
	}
	function getBackOrders(lim = 25)
	{
		console.log("back")
		if (curOffset - lim < 0) curOffset = 0
		else curOffset-=lim
	}
	function getNextOrders(lim=25, name = "#coinpairs")
	{
		let sel = $(name)
		let pair = sel.val().split("/")
		// /exchange/?w=getOrdersByCoinPair&a=true&coin1=monero&coin2=dogecoin
		var ords = getOrderByPair(pair[0], pair[1], curOffset+lim, lim)
		if (ords.length == 0) {
			// console.log("is all. because return")
			return
		}
		curOffset += lim
	}
	function showOrderByPair(offset=-1, lim=25, name = "#coinpairs")
	{
		let sel = $(name)
		let pair = sel.val().split("/")
		// /exchange/?w=getOrdersByCoinPair&a=true&coin1=monero&coin2=dogecoin
		var active_orders = getOrderByPair(pair[0], pair[1], offset, lim)
		var aorder = $("#active_orders")
		// aorder.clear()
		aorder.empty();
		for(IDX in active_orders)
		{
			let order = active_orders[IDX]
			console.log(order.key)
			aorder.append(`<ul class="order"><li>ID: ${order.key}</li><li>${order_to_info(order)}<li><button onclick='doTradee("${order.key}")'>Сделать сделку</button></li></ul>`)
		}
	}
	function addPairs(name = "#coinpairs")
	{
		let sel = $(name)
		console.log(sel)
		let pairs = getPairs()
		for (idx in pairs) {
			console.log("add pair")
			let pair = pairs[idx]
			console.log(pair)
			sel.append($('<option>', {
				value: pair,
				text: pair
			}));
			
		}

	}
	function getPairs()
	{
		var x = 0
		var y = 0
		var fPairs = []
		while(x < coins.length)
		{
			let fCoin = coins[x]
			while(y < coins.length)
			{
				let sCoin = coins[y++]
				if (fCoin === sCoin) continue
				if (fPairs.includes(fCoin+"/"+sCoin) || fPairs.includes(sCoin+"/"+fCoin)) continue
				fPairs.push(fCoin+"/"+sCoin)
			}
			y = 0;
			x++;
		}
		return fPairs
	}
	function addOrder_()
	{
		let VolumeMax = $("#VolumeMax").val() // 100
		let VolumeStart  = $("#VolumeStart").val() // 0.0025
		let Price = $("#Price").val()

		/*let msg = $("#msg").val()*/
		let SellNamecoin = $("#SellNamecoin").val()
		let BuyNamecoin = $("#BuyNamecoin").val()
		console.log("~~~~")
		console.log(VolumeMax) // gostcoin
	        console.log(VolumeStart) // 100
	        console.log(Price) // 100
	        console.log(SellNamecoin) // bitcoin
	        console.log(BuyNamecoin) // 0.000025
		let r = addOrderToSellCoin2Coin(SellNamecoin, BuyNamecoin, Price, VolumeStart, VolumeMax)
		showAlertBox(r.result ? "Succesfully: " : "Error" + ": " +r.reason, 'INFO')
	}

	function order_to_info(ord)
	{
	console.log(ord)
	return `${ord.owner} желают продать ${ord.info.toGiveName} за ${ord.info.toGetName}<br/>` +
	`1${ord.info.toGiveName} = ${ord.info.priceRatio}${ord.info.toGetName}. Лимиты ${ord.info.minVolume} - ${ord.info.maxVolume}`		
	}
	function calcuvatorcalc()
	{
		let p = $("#price_calc").val()
		let c = $("#count_calc").val()
		$("#calcuvator_answer").text(`${p}*${c} = `+ p*c)
	}
	function doTradee(key)
	{
		console.log(key)
		let count = $("#count").val()
		let r = doTrade(key, count)
		console.log(key)
		console.log(count)
		showAlertBox(r.result ? "Succesfully: " : "Error" + ": " + r.reason, 'INFO')
	}

	function add2SelectAllowCoins(t)
	{
		for (idx in coins) // forEach?
		{
			let coin_name = coins[idx]
			let own_input_addr = getowninput(coin_name)
			t.append($('<option>', {
    				value: coin_name,
    				text: coin_name
			}));
		}	
	}
	function showMyOrders()
	{
		var myorders = $("#my_orders")
		var ownOrders = exchangeData({'w':"getOwnOrders"})
		for(IDX in ownOrders)
		{
			let order = ownOrders[IDX]
			console.log(order.key)
			myorders.append(`<ul class="order"><li>${order.owner}</li><li>${order.key}</li><li>${order_to_info(order)}<li><button onclick='changeActiveOrder_("${order.key}", true)'>Сделать ордер активным</button><button onclick='changeActiveOrder_("${order.key}", false)'>Сделать ордер неактивным</button><button onclick='remOrder("${order.key}")'>rem order</button></li></ul>`)

		}
	}
	function changeActiveOrder_(key, status)
	{
		console.log(`set status ${status} to ${key}`)
		let r = changeActiveOrder(key, status)
		showAlertBox(r.result ? "Succesfully: " : "Error" + ": " + r.reason, 'INFO')
	}
//////
// myorders.append('<ul class="order"><li>'+order.owner+'</li><li>'+order.orderMSG+'</li><li>'+order.key+'</li><li>'+ order_to_info(order) +'<li><button onclick="doTrade_("'+order.key+'")">Сделать сделку</button></li></ul>')
// there ^^ vuln in firefox
	// var active_orders = getOrders()
	showMyOrders()
	add2SelectAllowCoins($("#SellNamecoin"))
	add2SelectAllowCoins($("#BuyNamecoin"))
	addPairs()
</script>
